/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
}

body{
    margin: 0;
}

main section:first-of-type{
    background-image: url(../images/conorporier.png);
    background-size: cover;
    background-position: center;
}
