/************/
/* Algemeen */
/************/

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}


html,
body {
    --mainColor: #191919;
    --backgroundColor: white;
    --accentColor: #d20a0a;

    color: white;
    text-align: center;
    font-family: din-2014, sans-serif;
    font-weight: 400;
    font-style: normal;

}

header.news {
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, .2);
}

body.news {
    color: var(--mainColor);
}

main.news {
    margin-top: 1em;
}

.hidescrollbar ::-webkit-scrollbar {
    display: none;
}

.hidescrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


h2,
h3 {

    font-weight: bold;
    font-size: 1em;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

div.eroverheen {
    position: relative;
    background-color: white;
    z-index: 60;
}

/**********/
/* Header */
/**********/

header {
    position: fixed;
    top: 0;
    color: var(--mainColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    z-index: 100;
    background-color: var(--backgroundColor);
    width: 100%;
    min-height: 4em;
}

/********/
/* Logo */
/********/

header a {
    margin: auto 0 auto 0;
    display: flex;
    width: 25vw;
}

header a img {
    width: 5em;
    margin: auto 0 auto .5em;
}

/***************/
/* Menu Button */
/***************/

button {
    position: relative;
    margin-right: .5em;
    cursor: pointer;
    appearance: none;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: .9em;

}

header button img {
    display: inline;
    width: 1em;
    transition: .5s;
}

body.visible header button img {
    transform: rotate(180deg);
}

header button::after {
    content: "";
    bottom: -23px;
    left: 8px;
    background-color: var(--accentColor);
    position: absolute;
    width: 43.35px;
    height: 2px;
    z-index: 1;
    user-select: none;
    pointer-events: none;

}

/********/
/* Menu */
/********/

header nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 7vh;
    bottom: calc(100% - 7vh);
    background-color: var(--backgroundColor);
    transition: .5s;
    overflow: hidden;
}

body.visible header nav {
    bottom: 0%;
}

header nav ul {
    padding: .5em 0;

}

header nav ul li {
    display: flex;
    justify-content: center;
}

header nav ul a {
    justify-content: center;
    color: var(--mainColor);
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    padding: .25em;
    line-height: 1.875rem;
    margin: 0;

}

/**********************/
/* Algemene Animaties */
/**********************/

/* Animatie voor infaden sections */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.fade-in.appear {
    opacity: 1;
}

@keyframes textSlideUp {
    0% {
        opacity: 0;
        transform: translateY(1000px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animaties voor omhoog sliden text */
.slide-in {
    opacity: 0;

}

.slide-appear {
    animation: 1.5s ease-out textSlideUp;
    opacity: 1;
}


section {
    margin-top: 1em;
}

/********/
/* Main */
/********/

main {
    position: relative;
    z-index: 50;
    perspective: 10em;
    perspective-origin: right top;

    background-color: white;
}

main::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 22em;
    top: 100%;
    user-select: none;
    pointer-events: none;
}

/****************/
/* Hero section */
/****************/

/* Animaties hero section */

@keyframes textSlideDown {
    0% {
        opacity: 0;
        transform: translateY(-70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Overige styling */

section.hero {
    position: sticky;
    top: 0;
    height: 70vh;
    margin: 0;

    min-height: 33em;


}

section.hero div {
    animation: 2s textSlideDown;
    position: absolute;
    top: 20%;
    left: calc(50% - 10em);


    width: 20em;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

section.hero div h1 {
    font-size: 1em;

    grid-column-start: 1;
    grid-column-end: -1;
}

section.hero div h2 {
    font-size: 2.5em;

    grid-column-start: 1;
    grid-column-end: -1;
}

section.hero div h3 {
    font-size: 1.3em;

    grid-column-start: 1;
    grid-column-end: -1;
}

section.hero div a {
    font-size: .9em;
    color: var(--mainColor);
    font-weight: 600;

    background-color: var(--backgroundColor);

    margin: 1em;
    padding: 1em;
}

main section.hero>img {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center 20%;
}

/******************/
/* Fights Section */
/******************/

section.fights {
    position: relative;
    display: flow-root;

    background-color: white;
}

section.fights ul {
    position: relative;
    display: flex;
    overflow-x: auto;
    padding-left: 1em;
    scroll-snap-type: inline mandatory;
    margin: -4.5em 0 0;
}

section.fights ul li {
    background-color: var(--backgroundColor);
    box-shadow: 0 .25em .5em rgba(0, 0, 0, .125);
    padding-top: 1em;
    width: 73vw;
    height: 24vh;
    flex-shrink: 0;
    margin: 0 1em 1em 0;
    overflow: hidden;
    min-height: 10em;
    scroll-snap-align: center;

}

section.fights ul li::after {
    content: "";
    height: 1em;
    width: 1em;
    position: absolute;
    right: -59%;
    top: 0;
    user-select: none;
    pointer-events: none;


}

section.fights ul li a {
    color: var(--mainColor);
    display: grid;
    grid-template-columns: 5em 1fr 2fr 1fr 5em;
    grid-template-rows: 3em 2em 3em;
    text-decoration: none;
    padding-top: 1em;

}

section.fights h1 {
    grid-column: 3/4;
    padding-top: .5em;
}

section.fights h1 img {
    opacity: 30%;
    width: 80%;
}

section.fights h2 {
    font-size: 0.8em;

    grid-column: 2/5;
    grid-row: 3/4;
}

section.fights p {
    color: #abadb1;
    font-size: .8em;
    font-weight: 900;
    grid-column: 2/5;


}

img.fighter {
    grid-row-start: 1;
    grid-row-end: -1;

}

img.fighter:first-of-type {
    grid-row-start: 1;
    padding-right: .5em;
}

img.fighter:last-of-type {
    grid-column-start: -2;

}

/*****************/
/* Story section */
/*****************/

section.story {
    width: 90vw;
    margin: auto;
    box-shadow: 0 2px 8px rgba(99, 91, 99, .1);
    overflow: hidden;
}

section.story a {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 2em;

}

section.story a div {
    display: flex;
    flex-direction: column-reverse;

    align-self: flex-start;
    text-align: left;
    margin: 1em 0 0 5vw;

}

section.story a h1 {
    color: var(--mainColor);
    font-size: 1.2em;

    margin-top: 1em;

}

section.story a h2 {
    color: var(--accentColor);
    font-size: 1em;
    font-weight: 100;

}

section.story img {
    width: 100%;
    align-self: center;
    overflow: hidden;
}

section.story img:hover {
    transform: scale(1.2);
    transition: 2s;

}

/*****************/
/* Video Section */
/*****************/

section.video {
    height: 50vh;

    position: relative;
    overflow: hidden;

    margin-top: 2em;
}


section.video a>div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 50vh;
    padding: 1em;
    text-align: left;
    position: absolute;
}

section.video a div h1 {
    order: -2;

    font-weight: bold;
    font-size: 1.6em;
}


section.video a div button {
    order: -1;
    width: 3em;
    height: 3em;
    background-color: white;
    clip-path: polygon(0 0, 100% 50%, 0 100%, 0 0);
    align-self: center;
    border: 0;
}

section.video img:last-of-type {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 20%;



}

/**************/
/* Ad Section */
/**************/

section.ad {
    height: 80vh;
    overflow: hidden;
    position: relative;

}


section.ad h1 {
    font-size: 1em;
    margin-bottom: 1em;

}

section.ad h2 {
    font-size: 2em;
    text-align: center;

    margin-bottom: 1em;
    width: 90vw;
    align-self: center;

}

section.ad div.slide-in {
    height: 80vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: 50;

    position: absolute;

}

section.ad div div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 25%;
    width: 100vw;

}

section.ad div a {
    text-align: center;
    font-size: .9em;
    color: var(--mainColor);
    font-weight: 600;

    background-color: var(--backgroundColor);
    margin: .5em;
    width: 45vw;
    padding: 1.2em 0 1.2em 0;

}

section.ad img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 20%;
}

/*******************/
/* Section Results */
/*******************/

section.results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em 1fr .5fr .5fr;
    margin: 2em 1em 4em 1em;
    text-align: left;

}


section.results h1 {
    color: var(--accentColor);
    font-size: .9em;
    grid-column: 2/3;
    padding: .4em 0 0 16px;
}

section.results h2 {
    color: var(--mainColor);
    text-align: left;
    grid-column: 2/3;
    grid-row: 2/3;
    padding-left: 16px;
    font-size: 1.3em;
}

section.results p {
    color: #585b63;
    grid-column: 1/3;
    grid-row: 3/4;
    padding: .5em 0;
}

section.results a {
    text-decoration: none;
    grid-column: 1/2;
    grid-row: 4/5;
    color: var(--mainColor);
    font-weight: 800;
    text-align: left;
    padding: 1em 0;
}

section.results img {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;

}

/***************/
/* News Pagina */
/***************/

/*****************/
/* Section title */
/*****************/

section.title {
    margin-top: 6em;
    display: flex;
    flex-direction: column-reverse;
}

section.title h1 {
    font-size: 2.5em;
    line-height: 1em;
    margin-bottom: 1.5em;


}

section.title h2 {
    padding: .7em;
}

/******************/
/* Section filter */
/******************/

section.filter {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1em;
    margin: 0 8px;
    border-bottom: .5px solid #d5d6d8;


}

section.filter h1 {
    font-size: 1em;
    font-weight: 800;
}

section.filter div {
    display: flex;
    flex-direction: column;
    margin: 0 .5em;

}


section.filter div h3 {
    color: #abadb1;
}

section.filter button img {
    width: 1em;
    height: 1em;
    transition: .5s;
}

section.filter.visibleFilter button img {
    transform: rotate(180deg);


}

section.filter ul {
    position: absolute;
    top: 80%;
    right: -4px;
    bottom: 0;

    width: 64vw;
    height: 0;

    text-align: left;
    padding: 0 1em;

    overflow: hidden;

    transition: .5s
}


section.filter.visibleFilter ul {
    position: absolute;
    top: 80%;
    right: -4px;
    width: 64vw;
    height: 26vh;
    z-index: 70;

    text-align: left;
    padding: 1em;

    background-color: var(--backgroundColor);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);

    color: #abadb1;

}

section.filter ul li {
    padding: .5em;
}

section.filter ul li:first-of-type {
    color: var(--mainColor);
    border-bottom: 1px solid #abadb1;
}

/*************************/
/* Section Overlay Story */
/*************************/

section.overlayStory {
    position: relative;
    margin: 1em 0;
    height: 95vw;
    overflow: hidden;

}

section.overlayStory>div {
    background-color: rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: column;
    color: white;
    height: 100%;
    text-align: left;
    padding: 0 1em;
    z-index: 50;
    position: absolute;
}

section.overlayStory div h1 {
    font-size: 2.5em;
    letter-spacing: -1px;
    margin-top: .7em;
    line-height: 50px;
}

section.overlayStory div div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    order: -1;
    padding: .5em 0 0 0;
}

section.overlayStory div p {
    margin: .1em;
}

section.overlayStory a {
    font-weight: bold;
}

section.overlayStory img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;



}
}

/**********************/
/* Section story news */
/**********************/

section.story div.newsPageStory {
    flex-direction: column;
    margin: 1em;
}

section.story div.newsPageStory div {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin: 0em;
    order: -1;


}

section.story div.newsPageStory div h2 {
    font-weight: bold;
}

/**********************/
/* Section News Video */
/**********************/

body.news section.video {
    margin-bottom: 1em;
    color: white;
}

body.news section.video div div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0em;
    height: auto;

}



/**********/
/* Footer */
/**********/

footer {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;

}

footer div:first-of-type {
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-bottom: 1px solid #585b63;
    padding-bottom: 1em;
}

footer button {
    font-stretch: semi-condensed;
    color: white;
}

footer button img {
    display: inline;
    width: 1em;
    height: .8em;
}

footer a img {
    width: 30%;
}

footer div.landenoverlay {
    border: none;
    padding: 0;
}

footer div.landenoverlay.visible {
    position: relative;
    padding: 0;
    border: none;
}

footer div.landenoverlay ul {
    visibility: hidden;
    display: none;
    position: absolute;
    opacity: 0;
    padding: .5em;
    width: 60vw;
    left: calc(50% - 30vw);

}

footer div.landenoverlay.visible ul {
    visibility: visible;
    display: block;
    opacity: 1;
    position: absolute;
    text-align: left;
    background-color: var(--backgroundColor);
    color: var(--mainColor);
    padding: .5em;
    width: 60vw;
    left: calc(50% - 30vw);
    border-radius: 3px;
    transition: .5s;

}

footer nav {
    margin: auto;
    width: 80vw;
    height: 35vh;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #585b63;

}

footer nav ul {
    font-size: .9em;

    color: #585b63;
    font-weight: 800;
    text-align: left;
    padding: 1.5em 0;
}

footer nav ul li {
    padding: .2em 0;
}

footer nav ul li:first-of-type a {
    color: white;
    text-decoration: none;
    font-weight: 900;
}
